@using ChipMongWebApp.Utils.Helpers
@using ChipMongWebApp.Models.DTO.SourceSupply
@model ChipMongWebApp.Models.DTO.SourceSupply.SourceSupplyFindDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Template/FindMode/Button.cshtml")

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find Source Supply </div>
        @Html.HiddenFor(m => m.orderBy, new { Value = nameof(SourceSupplyViewDTO.name) })
        @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })

        <!-- card body -->
        <div class="card-body">
            <input type="text" name="notuse" value="" style="display:none" />
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Name", @maxlength = "100" })
                    </div>
                </div>
            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    @Html.Partial("~/Views/Shared/Template/FindMode/TableData.cshtml")
    <br />

</form>

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.SOURCE_SUPPLY_CONTROLLER";
</script>

