@using ChipMongWebApp.Utils.Helpers
@model ChipMongWebApp.Models.DTO.SourceSupply.SourceSupplyViewDTO
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        @Html.Partial("~/Views/Shared/Template/ViewMode/Button.cshtml")
    </div>
</div>

<br />

<form id="record" name="record">
    <fieldset disabled class="summary">
        <div class="card shadow-sm">
            <div class="card-header merienda"> Source Supply </div>

            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.name)
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!--end  row 1-->
            </div>
            <!-- end card body -->
        </div>

    </fieldset>
</form>

<script src="~/Content/js/function/template/viewmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.SOURCE_SUPPLY_CONTROLLER";
    const id = @Url.RequestContext.RouteData.Values["id"];
</script>


