@using ChipMongWebApp.Utils.Helpers
@model ChipMongWebApp.Models.DTO.Customer.CustomerFindDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    <input type="hidden" name="currentPage" id="currentPage" value="1" />
    <div class="card shadow-sm" id="dvAction">
        <div class="card-body text-dark shadow-sm merienda">
            <button type="button" class="btn btn-primary" id="btnFind" onclick="find()"> <i class="fas fa-search"></i> Find </button>
            <button type="button" class="btn btn-danger" id="btnCancel" onclick="cancel()"> <i class="fas fa-times"></i> Clear  </button>
            <button type="button" class="btn btn-success" id="btnNew" onclick="newRecord()"> <i class="fas fa-plus"></i> New  </button>
        </div>
    </div>

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find Customer </div>

        <!-- card body -->
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", placeholder = "Code", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.firstName)
                        @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", placeholder = "First Name", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.lastName)
                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", placeholder = "Last Name", @maxlength = "100" })
                    </div>
                </div>

            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    <div id="tableData" class="shadow-sm bg-white"></div>
    <br />

</form>


<script>
    const controller = "@ConstantHelper.CUSTOMER_CONTROLLER";
    $(document).ready(() => paging(1));
    let paging = currentPage => { $("#currentPage").val(currentPage); ajaxHelper(controller + "/paging/", $("#record").serializeObject(), requestMethod.POST).then((data) => $("#tableData").html(data)) };
    const cancel = () => location.reload();
    const newRecord = () => location.href = controller + "/new";
    const find = () => { $("#currentPage").val(1); paging(1) }
</script>

