@using ChipMongWebApp.Utils.Helpers
@using ChipMongWebApp.Models.DTO.Customer
@model ChipMongWebApp.Models.DTO.Customer.CustomerFindDTO
@{
    /**/

    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Template/FindMode/Button.cshtml")

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find Customer </div>
        @Html.HiddenFor(m => m.orderBy, new { Value = nameof(CustomerViewDTO.firstName) })
        @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })
        <!-- card body -->
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", placeholder = "Code", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.firstName)
                        @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", placeholder = "First Name", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.lastName)
                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", placeholder = "Last Name", @maxlength = "100" })
                    </div>
                </div>

            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    <div id="tableData" class="shadow-sm bg-white"></div>
    <br />

</form>

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.CUSTOMER_CONTROLLER";
</script>

