@using ChipMongWebApp.Models.DTO.Customer
@model ChipMongWebApp.Models.DTO.GetListDTO<ChipMongWebApp.Models.DTO.Customer.CustomerViewDTO>



<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col" width="65px">#</th>
            <th scope="col"> Code </th>
            <th scope="col"> <a href="#" id="sort_@nameof(CustomerViewDTO.firstName)" class="sort-data" onclick='javascript:sort("@nameof(CustomerViewDTO.firstName)", $(this))'> First Name </a>  </th>
            <th scope="col"> <a href="#" class="sort-data" onclick='javascript:sort("@nameof(CustomerViewDTO.lastName)")'> Last Name </a>  </th>
            <th scope="col"> Phone1 </th>
            <th scope="col"> E-mail </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.items)
            {
                <tr>
                    <th scope="row" class="text-center"> @(Model.metaData.startRow + i) </th>
                    <td class="align-middle"> <a href=" @Url.Content("~/customer/view/")@item.id"> @item.code </a> </td>
                    <td> @item.firstName </td>
                    <td> @item.lastName </td>
                    <td> @item.phone1 </td>
                    <td> @item.email </td>

                </tr>
                i++;
            }
        }

        @Html.Partial("~/Views/Shared/Pagination.cshtml", Model.metaData)

        
