@using ChipMongWebApp.Utils.Helpers
@{
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

@if (Model != null)
{
    if (Model.mode == ConstantHelper.MODE_VIEW)
    {


        if (Model.id == null)
        {
            @Html.Label("Record Not Found !")
            return;
        }
        else
        {
            if (Model.id == 0)
            {
                @Html.Label("Record Not Found !")
                return;
            }
        }
    }
}

@Html.Partial("~/Views/Customer/Tabs.cshtml")

<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        @Html.Partial("~/Views/Shared/Template/ViewMode/Button.cshtml")
    </div>
</div>

<br />

@Html.Partial("~/Views/Customer/Form.cshtml")

<script src="~/Content/js/function/template/viewmode/button.js"></script>
<script>
    const controller = "@Url.Content($"~/{ConstantHelper.CUSTOMER_CONTROLLER}")";
    const id = @Url.RequestContext.RouteData.Values["id"];

    $(document).ready(() => $("#customerTab").contents().unwrap());
    const saleorderTab = () => location.href = controller + "/saleordertab/" + id;
    const sourceSupplyTab = () => location.href = controller + "/sourceSupplytab/" + id;
    const retailerTab = () => location.href = controller + "/retailertab/" + id;

    const subCustomerTab = () => location.href = controller + "/subcustomertab/" + id;
</script>
