@model ChipMongWebApp.Models.DTO.SaleOrder.SaleOrderNewDTO

<form id="newRecord" name="newRecord">
    <div class="card shadow-sm">
        <div class="card-header merienda"> SaleOrder </div>
        <!-- card body -->
        <div class="card-body">
            <!--row 1-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.customerID)
                        @Html.DropDownListFor(m => m.customerID, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <!--end  row 1-->
        </div>
        <!--endcard body -->
    </div>
    <!-- end  Account Card -->
</form>

<script>
    var ssaURL = "@Url.Content("~/customer/ssa")";
    var select2PlaceHolder = "Customer";
    $(document).ready(function () {

        $("#customerID").select2({
            ajax: {
                url: ssaURL,
                dataType: "json",
                delay: 50,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
            },
            placeholder: select2PlaceHolder,
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: templateResult,
            templateSelection: templateSelection
        });

    });

    //-> templateResult
    function templateResult(data) {
        if (data.loading)
            return data.text;

        var markup = `<div class="row">
                            <div class="col-4"> ${data.firstName}  </div>
                            <div class="col-4"> ${data.lastName}  </div>
                            <div class="col-4"> ${data.code}  </div>
                        </div>`;
        return markup;
    }

    //-> templateSelection
    function templateSelection(data) {
        if (data.id === "")
            return 'Customer';
        return data.firstName + " " + data.lastName;
    }

</script>