@using ChipMongWebApp.Utils.Extension
@using ChipMongWebApp.Utils.Helpers
@model ChipMongWebApp.Models.DTO.SaleOrder.SaleOrderViewDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

@Html.Partial("~/Views/Shared/Template/EditMode/Button.cshtml")
<br />

<form id="record" name="record">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    @Html.Hidden("deleteLineItemID", "0")

    <!-- card -->
    <div class="card shadow-sm">
        <div class="card-header merienda"> SaleOrder </div>

        <!-- card body -->
        <div class="card-body">

            <!--row 1-->
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.date)
                        @Html.TextBoxFor(m => m.date, new { @class = "form-control date-picker", Value = Model.date.ToDisplayDate() })
                    </div>
                </div>


                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.requiredDate)
                        @Html.TextBoxFor(m => m.requiredDate, new { @class = "form-control date-picker", Value = Model.requiredDate.ToDisplayDate() })
                    </div>
                </div>


            </div>
            <!--end  row 1-->
            <!--row 2-->
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.customerID)
                        @Html.DropDownListFor(m => m.customerID, SSAHelper.CustomerSSA(Model.customerID), null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.sourceOfSupplyID)
                        @Html.DropDownListFor(m => m.sourceOfSupplyID, SelectionHelper.SourceSupplySelection(Model.sourceOfSupplyID), null, new { @class = "form-control required" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.status)
                        @Html.DropDownListFor(m => m.status, SelectionHelper.SaleOrderStatus(Model.status), "-- Select Status --", new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <!--end  row 2-->
            <!--row 3-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.total)
                        @Html.TextBoxFor(m => m.total, new { @class = "form-control", Value = Model.total.ToTwoDecimalPoint() })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.remarks)
                        @Html.TextAreaFor(m => m.remarks, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <!--end  row 3-->

        </div>
    </div>
    <!-- end card body -->
    </div>
    <!-- end  card -->

    <br />

    <!-- LineItemTable  -->
    @Html.Partial("~/Views/SaleOrder/LineItemTable.cshtml", Model)

</form>

<script src="~/Content/js/function/template/editmode/button.js"></script>
<script src="~/Content/js/function/template/ssa.js"></script>
<script src="~/Content/js/modules/SaleOrder.js"></script>
<script>
    const controller = "@ConstantHelper.SALEORDER_CONTROLLER";
    const id = @Url.RequestContext.RouteData.Values["id"];
    
    const ssaURL = "@Url.Content("~/customer/ssa")";
    const ssaPlaceHolder = "Customer";
    const tableRow = `@Html.Partial("~/Views/SaleOrder/LineItem.cshtml")`;
    var rowIndex = @Model.items.Count();
    
    $(document).ready(() => initializeComponents());

    //-> itemChange
    function itemChange(prop) { getItem(prop, "@Url.Content("~/item")"); }

</script>








