@using ChipMongWebApp.Helpers
@model ChipMongWebApp.Models.DTO.SaleOrder.SaleOrderFindDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    <input type="hidden" name="currentPage" id="currentPage" value="1" />
    <div class="card shadow-sm" id="dvAction">
        <div class="card-body text-dark shadow-sm merienda">
            <button type="button" class="btn btn-primary" id="btnFind"> <i class="fas fa-search"></i> Find </button>
            <button type="button" class="btn btn-danger" id="btnCancel"> <i class="fas fa-times"></i> Clear  </button>
            <button type="button" class="btn btn-success" id="btnNew"> <i class="fas fa-plus"></i> New  </button>
        </div>
    </div>

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find SaleOrder </div>

        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", placeholder = "Code", @maxlength = "100" })

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.customer)
                        @Html.TextBoxFor(m => m.customer, new { @class = "form-control", placeholder = "Customer", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.status)
                        @Html.DropDownListFor(m => m.status, SelectionHelper.SaleOrderStatus(), "-- Select Status --", new {@class = "form-control"})
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />

    


    <div id="tableData" class="shadow-sm bg-white"></div>

    <br />

</form>

<script>

    var url = "@Url.Content("~/saleorder")";

    $(document).ready(function () {
        setupEvents();
    });

    //-> setupEvents
    function setupEvents() {
        paging(1);
        $("#btnFind").click(function () { find(); });
        $("#btnCancel").click(function () { cancel(); });
        $("#btnNew").click(function () { newRecord(); });
    }

    //-> getPage
    function paging(currentPage) {
        $("#currentPage").val(currentPage);
        ajaxHelper(url + "/paging/", $("#record").serializeObject(), requestMethod.POST).then(function (data) {
            $("#tableData").html(data);
        });
    }

    //-> find
    function find() {
        $("#currentPage").val(1);
        paging(1);
    }

    //-> cancel
    function cancel() {
        window.location.reload();
    }

    //-> newRecord
    function newRecord() {
        window.location.href = url + "/create/";
    }

</script>


