@model ChipMongWebApp.Models.DTO.SaleOrder.SaleOrderViewDTO

<form id="saleorder" name="saleorder">
    @Html.HiddenFor(m => m.id)

    <!-- Loan Request Card -->
    <div class="card shadow-sm">
        <div class="card-header merienda"> SaleOrder </div>
        <!-- card body -->
        <div class="card-body">
            <!--row 1-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.customerID)
                        @Html.TextBoxFor(m => m.customerID, new { @class = "form-control required", placeholder = "Customer" })
                    </div>
                </div>

            </div>
            <!--end  row 1-->
        </div>
        <!--endcard body -->
    </div>
    <!-- end  Account Card -->
</form>

