@model ChipMongWebApp.Models.DTO.User.UserChangePasswordDTO
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        <button type="button" class="btn btn-success" id="btnSave"> <i class="fas fa-save"></i>  Save  </button>
        <button type="button" class="btn btn-danger" id="btnCancel"> <i class="fas fa-times"></i> Cancel  </button>
    </div>
</div>

<br />

<form id="record" name="record">
    @Html.AntiForgeryToken()
    <div class="card shadow-sm">
        <div class="card-header merienda"> Change Password </div>

        <!-- card body -->
        <div class="card-body">

            <!--row 1-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, new { @class = "form-control required", placeholder = "Current Password" })
                    </div>
                </div>
            </div>
            <!--end  row 1-->
            <!--row 2-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.newPassword)
                        @Html.PasswordFor(m => m.newPassword, new { @class = "form-control required", placeholder = "New Password" })
                    </div>
                </div>
            </div>
            <!--end  row 2-->

            <!--row 3-->
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.comfirmPassword)
                        @Html.PasswordFor(m => m.comfirmPassword, new { @class = "form-control required", placeholder = "Confirm Password" })
                    </div>
                </div>
            </div>
            <!--end  row 3-->

        </div>
        <!-- end card body -->
    </div>

</form>

<script>

    var endPoint = "@Url.Content("~/user")";

    $(document).ready(function () { setupEvents(); });

    //-> setupEvents
    function setupEvents() {
        $("#btnSave").click(function () { save(); });
        $("#btnCancel").click(function () { cancel(); });
    }

    //-> save
    function save() {
        if (isValid()) {
            ajaxHelper(endPoint + "/changepassword", $("#record").serializeObject(), requestMethod.POST).then(function (data) {
                window.location.href = endPoint + "/view/" + data.userID;
            });
        }
    }

    //-> cancel
    function cancel() { window.location.href = "@Url.Content("~/customer")" + "/find"; }

</script>

