@using ChipMongWebApp.Utils.Helpers
@using ChipMongWebApp.Models.DTO.User
@model ChipMongWebApp.Models.DTO.User.UserFindDTO
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Template/FindMode/Button.cshtml")

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find User </div>
        @Html.HiddenFor(m => m.orderBy, new { Value = nameof(UserViewDTO.userName) })
        @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })

        <!-- card body -->
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.userName)
                        @Html.TextBoxFor(m => m.userName, new { @class = "form-control", placeholder = "Login Name", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.firstName)
                        @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", placeholder = "First Name", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.lastName)
                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", placeholder = "Last Name", @maxlength = "100" })
                    </div>
                </div>

            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    @Html.Partial("~/Views/Shared/Template/FindMode/TableData.cshtml")
    <br />

</form>

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const controller = "@Url.Content($"~/{ConstantHelper.USER_CONTROLLER}")";
    //$(document).ready(() => paging(1));
</script>

