@using ChipMongWebApp.Utils.Helpers
@model ChipMongWebApp.Models.DTO.User.UserViewDTO

@{
    var isDiable = "";
    var isSummary = "";

    if (Model != null)
    {
        if (Model.mode == ConstantHelper.MODE_VIEW)
        {
            isDiable = "disabled";
            isSummary = "summary";
        }
    }
}


<form id="record" name="record">
    <fieldset @isDiable class=@isSummary>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        <div class="card shadow-sm">
            <div class="card-header merienda"> User </div>

            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.userName)
                            @Html.TextBoxFor(m => m.userName, new { @class = "form-control required", placeholder = "User Name" })
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.firstName)
                            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control required", placeholder = "First Name" })
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.lastName)
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control required", placeholder = "Last Name" })
                        </div>
                    </div>
                </div>
                <!--end  row 1-->
                <!--row 2-->
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.phoneNumber)
                            @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control required", placeholder = "Phone Number" })
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(m => m.email)
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "E-mail" })
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.user_Profile)
                            @Html.DropDownListFor(m => m.user_Profile, SelectionHelper.profile() ,"-- Select One --",
                           new { @class = "form-control", placeholder = "Profile" })
                        </div>
                    </div>
                </div>
                <!--end  row 2-->

            </div>
            <!-- end card body -->
        </div>
        
    </fieldset>
</form>

