@using ChipMongWebApp.Utils.Helpers
@using ChipMongWebApp.Models.DTO.Item
@model ChipMongWebApp.Models.DTO.Item.ItemFindDTO
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<form name="record" id="record">
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Shared/Template/FindMode/Button.cshtml")

    <br />

    <div class="card shadow-sm">
        <div class="card-header merienda"> Find Item </div>
        @Html.HiddenFor(m => m.orderBy, new { Value = nameof(ItemViewDTO.name) })
        @Html.HiddenFor(m => m.orderDirection, new { Value = ConstantHelper.ASC })
        <!-- card body -->
        <div class="card-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.code)
                        @Html.TextBoxFor(m => m.code, new { @class = "form-control", placeholder = "Code", @maxlength = "100" })
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Name", @maxlength = "100" })
                    </div>
                </div>

            </div>
        </div>
        <!--end  card body -->
    </div>

    <br />
    @Html.Partial("~/Views/Shared/Template/FindMode/TableData.cshtml")
    <br />

</form>

<script src="~/Content/js/function/template/findmode/button.js"></script>
<script>
    const controller = "@Url.Content($"~/{ConstantHelper.ITEM_CONTROLLER}")";
</script>


