@model ChipMongWebApp.Models.DTO.GetListDTO<ChipMongWebApp.Models.DTO.Item.ItemViewDTO>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col" width="65px">#</th>
            <th scope="col"> Code </th>
            <th scope="col"> Name </th>
            <th scope="col"> Price </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model.items)
            {
                <tr>
                    <th scope="row" class="text-center"> @(Model.metaData.startRow + i) </th>
                    <td class="align-middle"> <a href=" @Url.Content("~/item/view/")@item.id"> @item.code </a> </td>
                    <td> @item.name </td>
                    <td class="text-right"> @item.price </td>
                </tr>
                i++;

            }
        }

        @Html.Partial("~/Views/Shared/Pagination.cshtml", Model.metaData)



