@model ChipMongWebApp.Models.DTO.Item.ItemViewDTO
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<div class="card" id="action">
    <div class="card" id="action">
        <div class="card-body text-dark shadow-sm merienda">
            <button type="button" class="btn btn-dark" id="btnBack"> <i class="fas fa-long-arrow-alt-left"></i> Back </button>
            <button type="button" class="btn btn-primary" id="btnEdit"> <i class="fas fa-pencil-alt"></i> Edit </button>
        </div>
    </div>
</div>

<br />

<form id="record" name="record">
    <fieldset disabled class="summary">
        <div class="card shadow-sm">
            <div class="card-header merienda"> Item </div>


            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.code)
                            @Html.TextBoxFor(m => m.code, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.name)
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.price)
                            @Html.TextBoxFor(m => m.price, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <!--end  row 1-->

            </div>
        </div>
        <!-- end card body -->
    </fieldset>
</form>

<script>

    var endPoint = "@Url.Content("~/item")";
    var id = @Url.RequestContext.RouteData.Values["id"];

    $(document).ready(function () {
        setupEvents();
    });

    //-> setupEvents
    function setupEvents() {
        $("#btnBack").click(function () { back(); });
        $("#btnEdit").click(function () { edit(); });
    }

    //-> save
    function save() {
        if (isValid()) {
            ajaxHelper(endPoint + "/create", $("#record").serializeObject(), requestMethod.POST).then(function (data) {
                window.location.href = detailsURL + done.id;
            });
        }
    }

    //-> edit 
    function edit() {
        window.location.href = endPoint + "/edit/" + id;
    }

    //-> back
    function back() {
        window.location.href = endPoint + "/find/";
    }

</script>


